<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<!-- import CSS -->
	<link rel="stylesheet" href="node_modules/element-ui/lib/theme-chalk/index.css">
	<!-- Main CSS-->
	<link rel="stylesheet" href="asts/main.css">
</head>
<body>
	<div id="app">
		<el-row :gutter="20">
			<el-collapse-transition name="el-fade-in-linear">
				<el-col :span="12" :offset="6" class="searchContainer" v-show="!displayTypeProduct">
					<el-input placeholder="Ürün kodu veya Ürün adı yazarak arayabilirsiniz..." v-model="searchText" @keyup.enter.native="search(searchText)" @input="filterTable">
						<el-button slot="append" icon="el-icon-search" @click="search(searchText)"></el-button>
					</el-input>
					<el-collapse-transition>
						<div v-show="displayTable">
							<el-table :data="productList" class="productListTable" @current-change="selectProduct">
								<el-table-column prop="name" label="Ürün" sortable></el-table-column>
								<el-table-column prop="model" label="Ürün Kodu" sortable></el-table-column>
								<el-table-column prop="image" label="Görsel">
									<template slot-scope="scope">
										<img :src="scope.row.image" />
									</template>
								</el-table-column>
								<el-table-column prop="price" label="Fiyat" sortable></el-table-column>
								<el-table-column prop="quantity" label="Stok" sortable></el-table-column>
							</el-table>
						</div>
					</el-collapse-transition>
				</el-col>
			</el-collapse-transition>
			<el-dialog :visible.sync="displayTypeProduct" width="80%" class="productContainer">
				<h1>{{ product.name }}</h1>
				<img :src="product.image">
				<el-form ref="form" :model="product" label-width="120px" class="productForm">
					<el-form-item label="Fiyat">
						<el-input-number v-model="product.price" controls-position="right"></el-input-number>
					</el-form-item>	
					<el-form-item label="Stok">
						<el-input-number v-model="product.quantity" controls-position="right"></el-input-number>
					</el-form-item>	
					<el-form-item>
						<el-button type="primary" @click="updateProduct">Kaydet</el-button>
					</el-form-item>
				</el-form>
				
			</el-dialog>
		</el-row>
	</div>
</body>
	<!-- import Vue before Element -->
	<script src="node_modules/vue/dist/vue.js"></script>
	<!-- import Vue Resource -->
	<script src="node_modules/vue-resource/dist/vue-resource.js"></script>
	<!-- import JavaScript -->
	<script src="node_modules/element-ui/lib/index.js"></script>
	<script src="node_modules/element-ui/lib/umd/locale/tr-TR.js"></script>
	
	<!--Main JS-->
	<script src="asts/main.js"></script>
	
</html>