.searchContainer{
	padding-top: 100px;
}
.productListTable{
	margin-top: 50px;
	cursor: pointer;
}
.productListTable img{
	max-height: 60px;
}
.productContainer .el-dialog{
	margin-top: 0 !important; 
}
.productContainer h1{
	text-align: center;
}
.productContainer img{
	max-width: 80%;
	min-width: 60%;
	max-height: 200px;
	margin: 0 auto;
	display: block;
	border: 1px solid #00796B;
}
.productForm{
	padding-top: 30px;
}